<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar h-100">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/menu/create">
          <i class="bi bi-house-door me-2"></i>
          Create Menu Item
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menu">
          <i class="bi bi-file-earmark me-2"></i>
          List Menu Items
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/category/create">
          <i class="bi bi-cart me-2"></i>
          Create Category
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">
          <i class="bi bi-people me-2"></i>
          List Categories
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">
          <i class="bi bi-people me-2"></i>
          List Orders
        </a>
      </li>
    </ul>
    <div>
      <a class="nav-link" href="/logout">
        <i class="bi bi-people me-2"></i>
        Logout
      </a>
    </div>
  </div>
</nav>
