<%- include('../../partials/head');%> <%- include('../../partials/header');%>
<main class="d-flex h-100">
  <%- include('../../partials/sidebar');%>
  <div class="p-5 w-100">
    <h1 class="h3 mb-4">Create Menu Item</h1>
    <form action="/menu/createNewItem" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Idli or Dosa"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          placeholder="Enter description"
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          class="form-control"
          id="price"
          name="price"
          placeholder="Enter Price"
        />
      </div>
      <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <input
          type="text"
          class="form-control"
          id="categoryId"
          name="categoryId"
          placeholder="Enter Category"
        />
      </div>
      <div class="mb-3">
        <label for="preparationTime" class="form-label">Preparation Time</label>
        <input
          type="number"
          class="form-control"
          id="preparationTime"
          name="preparationTime"
          placeholder="Enter Preparation Time"
        />
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="isVeg"
          name="isVeg"
        />
        <label class="form-check-label" for="isVeg">Is Veg</label>
      </div>
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="isAvailable"
          name="isAvailable"
        />
        <label class="form-check-label" for="isAvailable">Is Available</label>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</main>
<%- include('../../partials/footer');%>
