<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: "" }); %>
  </head>
  <body>
    <%- include('../partials/header');%>
    <main>
      <p>Your digital menu solution.</p>
    </main>
    <%- include('../partials/footer');%>
  </body>
</html>
