<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', { title: "" }); %>
  </head>
  <body class="vh-100">
    <%- include('../partials/header');%>
    <main class="h-80"><%- include('../partials/sidebar');%></main>
    <%- include('../partials/footer');%>
  </body>
</html>
